@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-background: #f4f9fc;
    --header-text: #607285;
    --header-nav-background: #ffffff
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;

}

a {
    text-decoration: none;
}